{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Techs :</h1>
        {% if TechsCount > 0 %}
            <table>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for tech in Techs %}
                    <tr>
                        <td>{{ tech.username }}</td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_tech_edit', {'id': tech.id}) }}'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_tech_delete', {'id': tech.id}) }}'">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>There is no techs</h2>
        {% endif %}
        <button onclick="window.location.href = '{{ path('app_tech_add') }}'">Add a new tech</button>
    </div>
{% endblock %}
